anyio==3.7.1 ; python_version >= "3.8" and python_version < "3.10"
azure-functions==1.15.0 ; python_version >= "3.8" and python_version < "3.10"
certifi==2023.7.22 ; python_version >= "3.8" and python_version < "3.10"
charset-normalizer==3.2.0 ; python_version >= "3.8" and python_version < "3.10"
click==8.1.6 ; python_version >= "3.8" and python_version < "3.10"
cognitiveatlas==0.1.9 ; python_version >= "3.8" and python_version < "3.10"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "3.10" and platform_system == "Windows"
contourpy==1.1.0 ; python_version >= "3.8" and python_version < "3.10"
cycler==0.11.0 ; python_version >= "3.8" and python_version < "3.10"
exceptiongroup==1.1.2 ; python_version >= "3.8" and python_version < "3.10"
fastapi==0.97.0 ; python_version >= "3.8" and python_version < "3.10"
filelock==3.12.2 ; python_version >= "3.8" and python_version < "3.10"
fonttools==4.42.0 ; python_version >= "3.8" and python_version < "3.10"
future==0.18.3 ; python_version >= "3.8" and python_version < "3.10"
fuzzywuzzy==0.18.0 ; python_version >= "3.8" and python_version < "3.10"
h11==0.14.0 ; python_version >= "3.8" and python_version < "3.10"
idna==3.4 ; python_version >= "3.8" and python_version < "3.10"
importlib-metadata==6.8.0 ; python_version >= "3.8" and python_version < "3.9"
importlib-resources==6.0.1 ; python_version >= "3.8" and python_version < "3.10"
jinja2==3.1.2 ; python_version >= "3.8" and python_version < "3.10"
joblib==1.3.1 ; python_version >= "3.8" and python_version < "3.10"
kiwisolver==1.4.4 ; python_version >= "3.8" and python_version < "3.10"
llvmlite==0.40.1 ; python_version >= "3.8" and python_version < "3.10"
lxml==4.9.3 ; python_version >= "3.8" and python_version < "3.10"
markupsafe==2.1.3 ; python_version >= "3.8" and python_version < "3.10"
matplotlib==3.7.2 ; python_version >= "3.8" and python_version < "3.10"
mpmath==1.3.0 ; python_version >= "3.8" and python_version < "3.10"
nest-asyncio==1.5.7 ; python_version >= "3.8" and python_version < "3.10"
networkx==3.1 ; python_version >= "3.8" and python_version < "3.10"
nibabel==5.1.0 ; python_version >= "3.8" and python_version < "3.10"
nilearn==0.10.1 ; python_version >= "3.8" and python_version < "3.10"
nimare==0.1.1 ; python_version >= "3.8" and python_version < "3.10"
numba==0.57.1 ; python_version >= "3.8" and python_version < "3.10"
numpy==1.24.4 ; python_version >= "3.8" and python_version < "3.10"
packaging==23.1 ; python_version >= "3.8" and python_version < "3.10"
pandas==2.0.3 ; python_version >= "3.8" and python_version < "3.10"
patsy==0.5.3 ; python_version >= "3.8" and python_version < "3.10"
pillow==10.0.0 ; python_version >= "3.8" and python_version < "3.10"
plotly==5.15.0 ; python_version >= "3.8" and python_version < "3.10"
pydantic==1.10.12 ; python_version >= "3.8" and python_version < "3.10"
pymare==0.0.4rc2 ; python_version >= "3.8" and python_version < "3.10"
pyparsing==3.0.9 ; python_version >= "3.8" and python_version < "3.10"
python-dateutil==2.8.2 ; python_version >= "3.8" and python_version < "3.10"
pytz==2023.3 ; python_version >= "3.8" and python_version < "3.10"
pyyaml==6.0.1 ; python_version >= "3.8" and python_version < "3.10"
requests==2.31.0 ; python_version >= "3.8" and python_version < "3.10"
scikit-learn==1.3.0 ; python_version >= "3.8" and python_version < "3.10"
scipy==1.10.1 ; python_version >= "3.8" and python_version < "3.10"
six==1.16.0 ; python_version >= "3.8" and python_version < "3.10"
sniffio==1.3.0 ; python_version >= "3.8" and python_version < "3.10"
sparse==0.14.0 ; python_version >= "3.8" and python_version < "3.10"
starlette==0.27.0 ; python_version >= "3.8" and python_version < "3.10"
statsmodels==0.14.0 ; python_version >= "3.8" and python_version < "3.10"
sympy==1.12 ; python_version >= "3.8" and python_version < "3.10"
tenacity==8.2.2 ; python_version >= "3.8" and python_version < "3.10"
threadpoolctl==3.2.0 ; python_version >= "3.8" and python_version < "3.10"
torch==2.0.1 ; python_version >= "3.8" and python_version < "3.10"
tqdm==4.65.0 ; python_version >= "3.8" and python_version < "3.10"
typing-extensions==4.7.1 ; python_version >= "3.8" and python_version < "3.10"
tzdata==2023.3 ; python_version >= "3.8" and python_version < "3.10"
urllib3==2.0.4 ; python_version >= "3.8" and python_version < "3.10"
uvicorn==0.22.0 ; python_version >= "3.8" and python_version < "3.10"
wrapt==1.15.0 ; python_version >= "3.8" and python_version < "3.10"
zipp==3.16.2 ; python_version >= "3.8" and python_version < "3.10"
